/* Hero */

#hero {
    height: 100vh;
    width: 100%;
    text-align: center;
    @include grid;
    @include grid-center;
    background: url('/images/hero.jpg') no-repeat center center;
    background-size: cover;
    p {
        @include breakpoint-down("md") {
            padding: $md;
        }
    }
    .cta-btn {
        @include btn($dark);
        margin-top: $md;
    }
}


/* Slider */

#slider {
    margin-top: 10vh;
    @include slider;
    .slide-1 {
        background: url('/images/hero.jpg') no-repeat center center;
        background-size: cover;
    }
    .slide-2 {
        opacity: 0;
        transform: translateX(100%);
        background: url('/images/hero.jpg') no-repeat center center;
        background-size: cover;
    }
    .slide-3 {
        opacity: 0;
        transform: translateX(100%);
        background: url('/images/hero.jpg') no-repeat center center;
        background-size: cover;
    }
}


/* Blurbs */

#blurbs {
    padding-top: $xl;
    .grid-content {
        text-align: center;
        h1,
        p {
            padding-bottom: $md;
        }
        p {
            width: 80%;
            margin: auto;
        }
    }
    .blurb-container {
        gap: $md;
        .card {
            overflow: hidden;
            @include bg-dark;
            @include noSpace;
            padding-bottom: $lg;
        }
        .blurb-title {
            @include highlight;
            padding: $md $lg $sm;
        }
        .blurb-content {
            @include light;
            padding: $sm $lg;
        }
        .blurb-btn {
            @include btn($primary);
        }
    }
}


/* Gallery */

#gallery {
    padding: $xl 0 0;
    margin-bottom: 0;
    .grid-content {
        text-align: center;
        h1 {
            padding-bottom: $md;
        }
    }
    .gallery-container {
        padding: $md 0 0;
        width: 100%;
        @include grid;
        @include grid-col(4);
        @include breakpoint-down("md") {
            @include grid-col(2);
        }
        @include breakpoint-up("xxl") {
            @include grid-col(8);
        }
        img {
            height: 100%;
            cursor: pointer;
        }
    }
}


/* Pricing */

#pricing {
    @include bg-highlight;
    .grid-content {
        padding: $xl 0;
        text-align: center;
        h1 {
            padding-bottom: $md;
        }
        .blurb-container {
            gap: $md;
            .card {
                @include bg-light;
            }
            .blurb-btn {
                @include btn($secondary);
            }
        }
    }
}


/* About */

#about {
    margin-top: 10vh;
    .grid-content {
        min-height: 64.8vh;
        @include grid-2;
        gap: $lg;
        .about-headline {
            padding-bottom: $md;
        }
        .about-content {
            @include type-col-gap(2,
            $md);
        }
        .about-profile {
            height: 100%;
            @include breakpoint-down("sm") {
                height: auto;
            }
        }
    }
}


/* Contact */

#contact {
    margin-top: 10vh;
    .grid-content {
        min-height: 64.8vh;
        @include grid-2(false);
        gap: $lg;
        .info-container {
            h2 {
                padding: $sm 0 $md;
            }
            @include breakpoint-down("sm") {
                text-align: center;
            }
        }
        .card {
            padding: $lg;
        }
    }
}